@model IEnumerable<Message>
<li class="nav-item dropdown">
    <!-- Menu toggle button -->
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">@Model.Count()</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">@Model.Count() notifications</span>
        
        
            <!-- Inner Menu: contains the notifications -->
            
            @foreach (var message in Model)
            {
                <div class="dropdown-divider"></div>
                    <!-- start notification -->
                    <a href="@message.URLPath" class="dropdown-item">
                        <i class="@message.FontAwesomeIcon"></i> @message.ShortDesc
                    </a>
                
            }
                <!-- end notification -->
            
        
        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
    </div>
</li>